<ion-content  [fullscreen]="true">
  <div class="flex justify-center items-center bg-indigo-500 h-1/4 rounded-b-3xl">
    <div class="text-center text-white">
      <p class="font-bold text-2xl py-3" >Bienvenido a Digipedia</p>
      <p>Un lugar donde puedes aprender mucho sobre digimons</p>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex justify-center items-center h-1/2">
      <div class="w-full px-10">
      <div class="py-3">
        <ion-label class="font-bold">Correo electrónico</ion-label>
        <ion-input formControlName="email" class="border-2 rounded-2xl"  type="text" placeholder="ejemplo23@micorreo.com">
          <ion-icon color="tertiary" class="px-2" size="large" slot="start" name="mail"></ion-icon>
        </ion-input>
      </div>
      <div class="py-3">
        <ion-label class="font-bold">Contraseña</ion-label>
        <ion-input formControlName="password" class="border-2 rounded-2xl" type="password" placeholder="Contraseña">
          <ion-icon color="tertiary"size="large" class="px-2" slot="start" name="lock-closed"></ion-icon>
        </ion-input>
      </div>
      <div class="py-5">
        <ion-button type="submit" color="tertiary"  expand="block" shape="round">
          Inciar sesión
        </ion-button>
      </div>
     </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar class="text-center">
    <ion-button (click)="goToRegister()" color="tertiary" fill="clear">¿No tienes cuenta?</ion-button>
  </ion-toolbar>
</ion-footer>
