<ion-content  [fullscreen]="true">
  <div class="flex justify-center items-center bg-indigo-500 h-1/4 rounded-b-3xl">
    <div>
      <div class="px-2">
        <ion-button (click)="goToLogin()" fill="clear">
          <ion-icon  color="light" size="large" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <p class="text-center font-bold text-2xl text-white py-3" >Únete a Digipedia</p>
      <p class="text-center text-white">Crea una cuenta para disfrutar de nuestros beneficios.</p>
    </div>
  </div>
  <div class="flex justify-center items-center h-1/2">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="w-full px-10">
        <div class="py-2">
          <ion-label class="font-bold">Nombre</ion-label>
          <ion-input formControlName="name" class="border-2 rounded-2xl"  type="text" placeholder="Alexander Garmendia">
            <ion-icon color="tertiary" class="px-2" size="large" slot="start" name="person"></ion-icon>
          </ion-input>
        </div>
      <div class="py-2">
        <ion-label class="font-bold">Correo electrónico</ion-label>
        <ion-input formControlName="email" class="border-2 rounded-2xl"  type="text" placeholder="ejemplo23@micorreo.com">
          <ion-icon color="tertiary" class="px-2" size="large" slot="start" name="mail"></ion-icon>
        </ion-input>
      </div>
      <div class="py-2">
        <ion-label class="font-bold">Contraseña</ion-label>
        <ion-input  formControlName="password" class="border-2 rounded-2xl" type="password" placeholder="Contraseña">
          <ion-icon color="tertiary"size="large" class="px-2" slot="start" name="lock-closed"></ion-icon>
        </ion-input>
      </div>
      <div class="py-5">
        <ion-button type="submit" color="tertiary"  expand="block" shape="round">
          Crea una cuenta
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>